body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
h2{
    margin: 100px 540px;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 30px;
    margin-right: 0px;
}
.image{
    display: flex;
    gap: 0px;
    margin: 0px 130px;
    margin-right: 0px;
}
.image img {
    width: 400px;        
    height: 400px;       
    object-fit: cover;   
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    transition: 0.3s ease;
}

.image p{
    color: aliceblue;
}
.nana p{
    padding: 0px 270px;
    font-family: Arial, Helvetica, sans-serif;
}
.mavis p{
    padding: 0px 270px;
    font-family:Arial, Helvetica, sans-serif
}
.image img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgb(180, 28, 28);
}
